# Import pandas

In [1]:
import pandas as pd
print(pd.__version__)

1.4.4

# 2 different colours

In [3]:
colours = pd.Series(["green", "black", "red"])

In [4]:
print(colours)

0    green
1    black
2      red
dtype: object

# 3 different colour

In [6]:
a = (["red"])

In [7]:
b = (["black"])

In [8]:
c = (["green"])

In [15]:
print(a,b,c)

['red'] ['black'] ['green']

# 4  different car

In [16]:
cars = pd.Series(["BMW", "Toyota", "Honda"])

In [14]:
print(cars)

0       BMW
1    Toyota
2     Honda
dtype: object

# 5 different car & colour

In [31]:
cars = pd.Dataframe({cars type:"cars"})_({colours type:"colours"})

SyntaxError: invalid syntax (1948109468.py, line 1)

In [32]:
print(cars,colours)

0       BMW
1    Toyota
2     Honda
dtype: object 0    green
1    black
2      red
dtype: object

# Import "../data/car-sales.csv" and turn it into a DataFrame

In [53]:
import pandas as pd

In [55]:
DataFrame =pd.read_csv("C:/Users/Administrator/Desktop/mbcet_project_main/mbcet_project_main/car_sales.csv")

In [58]:
DataFrame.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

# Export the DataFrame you created to a .csv file

In [64]:
DataFrame=pd.read_csv("C:\\Users\\Administrator\Downloads\\my data set.csv")

In [65]:
print(DataFrame)

   sl  test name  no
0   1    55    a  82
1   2    35    m  29
2   3    85    d  33
3   4    15    f  24
4   5    25    e  89

In [66]:
DataFrame = pd.Series(["sl", "test", "no","name"])

In [67]:
print(DataFrame)

0      sl
1    test
2      no
3    name
dtype: object

In [70]:
table =pd.read_csv("C:\\Users\\Administrator\Downloads\\my data set.csv")
table = pd.Series(["C:\\Users\\Administrator\Downloads\\my data set.csv"])

In [71]:
print(test)

NameError: name 'test' is not defined